.box{
	width: 50%;
	max-width: 600px;
	min-width: 400px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	padding: 10px;
}
.pic{
	width: 15%;
	border-radius: 50%;
}
.info{
	font-size: 20px;
	padding: 8px;
	margin: 8px 20px;
	border-bottom: 2px solid black;
	border-radius: 40px;
}
.edit{
	width: 30%;
	border: 2px solid ;
	color: black;
	padding: 5px;
	cursor: pointer;
	margin: 10px 20px;
	float: left;
}
#name{
	color: cornflowerblue;
	margin-left: 85%;
	margin-right: 20px;
}
.navbar{
	position: fixed;
	height: 80px;
	top: 0;
	display: flex;
	align-items: center;
	background: #f1f1f1;
	width: 100%;
	margin-left: -10px;
}
.menu{
	position: absolute;
}
.menu a{
	color: #333;
	text-decoration: none;
	font-weight: 700;
	margin-left: 20px;
	transition: color 0.3s;
	text-transform: uppercase;
}
.menu a:hover{
	color: #6ab04c;
}
.btn{
	display: none;
	position: absolute;
	left: 20px;
}
.btn:hover > span{
	background: #6ab04c;
}
.btn span{
	display: block;
	margin: 6px;
	width: 40px;
	height: 3px;
	background: #333;
}
@media only screen and (max-width : 800px){
	.navbar{
		overflow: visible;
	}
	.menu{
		width: 100%;
		right: 0;
		top: 80px;
		background: #f1f1f1;
		overflow: hidden;
		max-height: 0;
	}
	.menu a{
		display: block;
		text-align: center;
		padding: 10px;
		margin: 0;
		
	}
	.btn{
		display: block;
		cursor: pointer;
	}
	.show{
		max-height: 400px;
	}
}
